<div class="row">
  <div class="col-md-12">
    <h3><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search</h3>
    <div>
        <!-- Search directive -->
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>Browsing Graph</h3>
    <h4>Source IP: <span id="selected-row-srcIP">{{profile.srcIP}}</span></h4>
    <div id="browsing-graph negi-panel">
      <browsing-graph></browsing-graph>
    </div>
  </div>
</div>
