<h3><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>Real time stream</h3>
<div class="side-stream" id="http-stream">
<table st-table="rowCollection" class="table table-striped">
  <thead>
  <tr>
    <th st-sort="srcIP">Source IP</th>
    <th st-sort="title">Title</th>
    <th st-sort="url">URL</th>
    <th st-sort="browsingTime">Browsing Time</th>
  </tr>
  </thead>
  <tbody ng-show="isHttpRecordLoading">
  <tr>
    <td colspan="5" class="text-center http-live-load">
    </td>
  </tr>
  </tbody>
  <tbody>
  <tr ng-repeat="row in rowCollection" class="browsing-time-priority{{row.priority}} browsing-time-priority">
    <td>{{row.src_ip}}</td>
    <td>{{row.title}}</td>
    <td>
      <button class="btn btn-sm ng-scope" popover-placement="top" popover="{{row.url}}" type="button">
        <i class="glyphicon glyphicon-eye-open"></i>
      </button>
      <a ng-href="{{row.url}}">URL</a></td>
    </td>
    <td>{{row.browsing_time}}</td>
  </tr>
  </tbody>
</table>
</div>
