<div class="row">
  <div class="col-md-4" id="total-count">
    <h3><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>Total Count</h3>
    <div class="negi-panel">
      <p>{{total_count}}</p>
    </div>
  </div>
  <div class="col-md-8">
    <h3><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>About DEMO</h3>
    <div class="negi-panel">
      <!-- westlab factory, describe about westlab -->
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>Word Cloud</h3>
    <div class="negi-panel">
        <!-- word cloud directive -->
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 http-access histogram">
    <h3><span class="glyphicon glyphicon-signal" aria-hidden="true"></span>HTTP Access</h3>
    <div class="negi-panel">
        <histogram></histogram>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="negi-panel">
      <src-ip-ranking></src-ip-ranking>
    </div>
  </div>
  <div class="col-md-6">
    <div class="negi-panel">
      <domain-ranking></domain-ranking>
    </div>
  </div>
</div>
