<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div id="total-count">
        <h4>Total Count</h4>
        <p>{{total_count}}</p>
      </div>
    </div>
    <div class="row">
      <div id='record-profile'>
        <h4>ID: <span id="selected-row-id">{{profile.id}}</span></h4>
        <h4>Source IP: <span id="selected-row-srcIP">{{profile.srcIP}}</span></h4>
        <h4>Title: <span id="selected-row-title">{{profile.title}}</span></h4>
      </div>
    </div>
    <div class="row">
      <browsing-graph></browsing-graph>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <histogram></histogram>
    </div>
    <div class="row">
      <div class="col-md-6">
        <src-ip-ranking></src-ip-ranking>
      </div>
      <div class="col-md-6">
        <domain-ranking></domain-ranking>
      </div>
    </div>
  </div>
</div>
