<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div id="total-count" class="col-md-12">
        <h3><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Total Count</h3>
        <p>{{total_count}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <h3><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> Browsing Graph</h3>
          <h4>Source IP: <span id="selected-row-srcIP">{{profile.srcIP}}</span></h4>
          <div id="browsing-graph">
              <browsing-graph></browsing-graph>
          </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row histogram">
      <histogram></histogram>
    </div>
    <div class="row">
      <div class="col-md-6">
        <src-ip-ranking></src-ip-ranking>
      </div>
      <div class="col-md-6">
        <domain-ranking></domain-ranking>
      </div>
    </div>
  </div>
</div>
