<table st-table="rowCollection" class="table table-striped">
  <thead>
  <tr>
    <th colspan="5">
      <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
    </th>
  </tr>
  <tr>
    <th st-sort="srcIP">Source IP</th>
    <th st-sort="title">Title</th>
    <th st-sort="url">URL</th>
    <th st-sort="browsingTime">Browsing Time</th>
  </tr>
  </thead>
  <tbody>
  <tr st-select-row="row" ng-click="displayRowInProfile(row)" ng-repeat="row in rowCollection">
    <td>{{row.srcIP}}</td>
    <td>{{row.title}}</td>
    <td>
      <button class="btn btn-sm ng-scope" popover-placement="top" popover="{{row.url}}" type="button">
        <i class="glyphicon glyphicon-eye-open"></i>
      </button>
      <a ng-href="{{row.url}}">URL</a></td>
    </td>
    <td>{{row.browsingTime}}</td>
  </tr>
  </tbody>
</table>
