<table class="table table-striped">
  <thead>
  <tr>
    <th colspan="4">
      <input name='search'
             placeholder="global search"
             class="input-sm form-control"
             type="search"
             ng-keyup="keyPress($event)"
             ng-model="searchBrowsingHistoryKeyword"/>
    </th>
  </tr>
  <tr>
    <th>Source IP</th>
    <th>Title</th>
    <th>URL</th>
    <th>Browsing Time</th>
  </tr>
  </thead>
  <tbody>
  <tr st-select-row="row" ng-repeat="row in searchResults">
    <td>{{row.src_ip}}</td>
    <td>{{row.title | limitTo:30 }}{{row.title.length > 30 ? '...' : ''}}</td>
    <td>
      <button class="btn btn-sm ng-scope" popover-placement="top" popover="{{row.url}}" type="button">
        <i class="glyphicon glyphicon-eye-open"></i>
      </button>
      <a href="{{row.url}}" target="_blank">URL</a></td>
    </td>
    <td>{{row.browsing_time}}</td>
  </tr>
  </tbody>
</table>
