<h4><span class="glyphicon glyphicon-king" aria-hidden="true"></span>Source IP Ranking</h4>
<div class="ranking">
  <table class="table srcip-ranking">
    <tbody ng-show="isSrcIpLoading">
      <tr>
        <td colspan="3" class="text-center ranking-load">
        </td>
      </tr>
    </tbody>
    <tbody>
        <tr ng-repeat="rankdata in srcIpRanking">
          <td><span class="defaultrank rank{{$index + 1}}" ng-bind="$index + 1"></span></td>
          <td ng-click="displayBrowsingGraph(rankdata.name)" class="pointer"><span ng-bind="rankdata.name"></span></td>
          <td><span ng-bind="rankdata.count"></span></td>
        </tr>
    </tbody>
  </table>
</div>
