<h4><span class="glyphicon glyphicon-king" aria-hidden="true"></span>Source IP Ranking</h4>
<div class="ranking">
  <table class="table srcip-ranking">
    <tbody ng-show="isSrcIpLoading">
      <tr>
        <td colspan="3" class="text-center ranking-load">
        </td>
      </tr>
    </tbody>
    <tbody>
        <tr ng-repeat="rankdata in srcIpRanking">
          <td><span class="defaultrank rank{{$index + 1}}">{{$index + 1}}</span></font></td>
          <td>{{rankdata.name}}</td>
          <td>{{rankdata.count}}</td>
        </tr>
    </tbody>
  </table>
</div>
